// @import "~bootstrap/scss/variables.scss";

$navbar-height: 3.75rem;

$theme-colors: (
  "primary": #001C7B,
  "danger": #ff4136
);

$primary: #001C7B;

$bg-secondary: #E0E0E0;
$color-muted: #cbcbcb;

$gray-600: #5e5e5e;
$gray-700: #464646;

@mixin defaultShadow() {
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
     -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
          box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
}